<main class="index">
    <div class=" main-container">
        <div class="index-container">
            {{#foreach posts}}
            <section class="hover-parrent sliders">
                <div class="post parent-table index-element">
                    <h3 class="left-cell">
                        <a href="{{{url}}}">
                            {{title}}
                        </a>
                    </h3>
                    <h3 class="right-cell righted index-date">
                        {{date format='MMM D, YYYY'}}
                    </h3>
                </div>
            </section>
            {{/foreach}}
        </div>
    </div>
</main>
    {{!pagination}}
<!--{{!< default}}-->