{{#post}}
<article class="article">
    {{> menu}}
    <div class="banner"></div>
    <div class="main-container">
        <div class="article-header">
            <h1 class="article-title">
                {{title}}
            </h1>
            <div class="article-date">
                {{date format='MMMM DD, YYYY'}}
            </div>
        </div>
        <div class="article-container">
            <div class="article-content ">
                {{content}}
            </div>
            <div class="article-comments">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</article>
    {{/post}}

<!--{{!< default}}-->