<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-text lefted">
            <a href="/" class="h3">Browse Posts</a>
            <a href="/projects/" class="h3">My Projects</a>
            <a href="/about/" class="h3">About Me</a>
        </div>
        <div class="nav-icons righted">
            <a href="https://twitter.com/Silvenga">
                <img alt="Twitter" class="twit-logo img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnLz4=" />
            </a>

            <a href="https://plus.google.com/+MarkLopez-Silvenga">
                <img alt="Google+" class="gplus-logo img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnLz4=" />
            </a>

            <a href="https://www.linkedin.com/in/marklopezlink/">
                <img alt="Linkedin" class="link-logo img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnLz4=" />
            </a>

            <a href="https://www.facebook.com/sea.marklopez">
                <img alt="Facebook" class="face-logo img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnLz4=" />
            </a>
            <a href="https://github.com/Silvenga">
                <img alt="Github" class="github-logo img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnLz4=" />
            </a>
        </div>
    </div>
</nav>