<nav class="nav-bar">
    <div class="nav-banner"></div>
    <div class="nav-container">
        <div class="nav-text lefted">
            <a href="/projects/">My Projects</a>
            <a href="/about/">About Me</a>
        </div>
        <div class="nav-icons righted">

            <a href="https://twitter.com/Silvenga">
                <img alt="Twitter" src="/assets/images/twitter.png">
            </a>

            <a href="https://plus.google.com/+MarkLopez-Silvenga">
                <img alt="Google+" src="/assets/images/google_plus.png">
            </a>

            <a href="https://www.linkedin.com/in/marklopezlink/">
                <img alt="Linkedin" src="/assets/images/linkedin.png">
            </a>

            <a href="https://www.facebook.com/sea.marklopez">
                <img alt="Facebook" src="/assets/images/facebook.png">
            </a>
            <a href="https://github.com/Silvenga">
                <img alt="Github" src="/assets/images/github.png">
            </a>
        </div>
    </div>
</nav>