<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-text lefted">
            <a href="/projects/" class="h3">My Projects</a>
            <a href="/about/" class="h3">About Me</a>
        </div>
        <div class="nav-icons righted">

            <a href="https://twitter.com/Silvenga">
                <img alt="Twitter" class="twit-logo">
            </a>

            <a href="https://plus.google.com/+MarkLopez-Silvenga">
                <img alt="Google+" class="gplus-logo">
            </a>

            <a href="https://www.linkedin.com/in/marklopezlink/">
                <img alt="Linkedin" class="link-logo">
            </a>

            <a href="https://www.facebook.com/sea.marklopez">
                <img alt="Facebook" class="face-logo">
            </a>
            <a href="https://github.com/Silvenga">
                <img alt="Github" class="github-logo">
            </a>
        </div>
    </div>
</nav>