<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-text lefted">
            {{#if "@@navLink1.text"}}
            <a href="@@navLink1.link" class="h3">@@navLink1.text</a>
            {{/if}}
            {{#if "@@navLink2.text"}}
            <a href="@@navLink2.link" class="h3">@@navLink2.text</a>
            {{/if}}
            {{#if "@@navLink3.text"}}
            <a href="@@navLink3.link" class="h3">@@navLink3.text</a>
            {{/if}}
        </div>
        <div class="nav-icons righted">
            {{#if "@@twitter-link"}}
            <a href="@@twitter-link">
                <img alt="Twitter" class="twit-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            {{/if}}
            {{#if "@@gPlus-link"}}
            <a href="@@gPlus-link">
                <img alt="Google+" class="gplus-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            {{/if}}
            {{#if "@@linkedIn-link"}}
            <a href="@@linkedIn-link">
                <img alt="Linkedin" class="link-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            {{/if}}
            {{#if "@@facebook-link"}}
            <a href="@@facebook-link">
                <img alt="Facebook" class="face-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            {{/if}}
            {{#if "@@gitHub-link"}}
            <a href="@@gitHub-link">
                <img alt="Github" class="github-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            {{/if}}
        </div>
    </div>
</nav>