
.HeaderFont () {
    font-family: @header_font;
    line-height: 1.1em;
}

/**
// Styles
**/

body {
    margin: 0;
    font-family: @default_font;
    line-height: @golden + .3em;
}

a {
    text-decoration: none;
    background: transparent;

    &:focus {
        outline: thin dotted;
    }

    &:active,
    &:hover {
        outline: 0;
    }
}

h1 {
    .HeaderFont;
    font-size: 3em;
    margin: 0.563em 0;
}

h2 {
    .HeaderFont;
    font-size: 2.25em;
    margin: 0.625em 0;
}

h3 {
    .HeaderFont;
    font-size: 1.5em;
    margin: 1.313em 0;
}

h4 {
    .HeaderFont;
    font-size: 1.313em;
    margin: 1.313em 0;
}

h5 {
    .HeaderFont;
    font-size: 1.125em;
    margin: 1.313em 0;
}

h6 {
    .HeaderFont;
    font-size: 1em;
    margin: 0.75em 0;
}

code, pre {
    border-radius: 2px;
    padding: 5px 3px;
    background: #f1f0ea;
    /*transition: background-color ease-in-out 200ms;

    &:hover {
        background: #f1f0ea;
    }*/
}

.gist {
    font-size: 0.9em;
}

.full-width {
    width: 100%;
}
