.invisible {
    opacity: 0;
    visibility: hidden;
    border: 0 solid white;
}

.visible {
    -webkit-transition: opacity 0.3s cubic-bezier(0.000, 0.950, 1.000, 0.955);
    transition: opacity 0.3s cubic-bezier(0.000, 0.950, 1.000, 0.955);
    -webkit-animation: flyin 0.3s ease forwards;
    animation: flyin 0.3s ease forwards;

}



@-webkit-keyframes flyin {
    0% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
} 



@keyframes flyin {
    0% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
 